In [13]:
from datasets import load_dataset
from transformers import pipeline 
import pandas as pd
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
from transformers import T5Tokenizer, T5ForConditionalGeneration

In [2]:
summarizer = pipeline(
    task="summarization",
    model="t5-small",
    min_length=20,
    max_length=40,
    truncation=True,
    #model_kwargs={"cache_dir": DA.paths.datasets},
)
xsum_dataset = load_dataset(
    "xsum",
    version="1.2.0"
) 
xsum_sample = xsum_dataset["train"].select(range(10))

summarizer(xsum_sample["document"][0])

Found cached dataset xsum (C:/Users/Mahmoud Alshazly/.cache/huggingface/datasets/xsum/default/1.2.0/082863bf4754ee058a5b6f6525d0cb2b18eadb62c7b370b095d1364050a52b71)

  0%|          | 0/3 [00:00<?, ?it/s]

[{'summary_text': 'the full cost of damage in Newton Stewart is still being assessed . many roads in peeblesshire remain badly affected by standing water . a flood alert remains in place across the'}]

In [3]:

# We can instead do a beam search by specifying num_beams.
# This takes longer to run, but it might find a better (more likely) sequence of text.
summarizer(xsum_sample["document"][0], num_beams=10)

[{'summary_text': 'the full cost of damage in Newton Stewart is still being assessed . many roads in peeblesshire remain badly affected by standing water . a flood alert remains in place across the'}]

In [4]:

# Alternatively, we could use sampling.
summarizer(xsum_sample["document"][0], do_sample=True)

[{'summary_text': 'the full cost of damage in Newton Stewart is still being assessed . many roads in peeblesshire remain badly affected by standing water . a flood alert remains in place across the'}]

In [5]:

# We can modify sampling to be more greedy by limiting sampling to the top_k or top_p most likely next tokens.
summarizer(xsum_sample["document"][0], do_sample=True, top_k=10, top_p=0.8)

[{'summary_text': 'the full cost of damage in Newton Stewart is still being assessed . many roads in peeblesshire remain badly affected by standing water . a flood alert remains in place across the'}]

In [9]:
tokenizer = AutoTokenizer.from_pretrained("t5-small")
model = AutoModelForSeq2SeqLM.from_pretrained("t5-small")

In [10]:
# For summarization, T5-small expects a prefix "summarize: ", so we prepend that to each article as a prompt.
articles = list(map(lambda article: "summarize: " + article, xsum_sample["document"]))
display(pd.DataFrame(articles, columns=["prompts"]))

                                             prompts
0  summarize: The full cost of damage in Newton S...
1  summarize: A fire alarm went off at the Holida...
2  summarize: Ferrari appeared in a position to c...
3  summarize: John Edward Bates, formerly of Spal...
4  summarize: Patients and staff were evacuated f...
5  summarize: Simone Favaro got the crucial try w...
6  summarize: Veronica Vanessa Chango-Alverez, 31...
7  summarize: Belgian cyclist Demoitie died after...
8  summarize: Gundogan, 26, told BBC Sport he "ca...
9  summarize: The crash happened about 07:20 GMT ...

In [11]:
# Tokenize the input
inputs = tokenizer(
    articles, max_length=1024, return_tensors="pt", padding=True, truncation=True
)
print("input_ids:")
print(inputs["input_ids"])
print("attention_mask:")
print(inputs["attention_mask"])

# COMMAND ----------

# Generate summaries
summary_ids = model.generate(
    inputs.input_ids,
    attention_mask=inputs.attention_mask,
    num_beams=2,
    min_length=0,
    max_length=40,
)
print(summary_ids)

input_ids:
tensor([[21603,    10,    37,  ...,     0,     0,     0],
        [21603,    10,    71,  ...,     0,     0,     0],
        [21603,    10, 21945,  ..., 18002,    21,     1],
        ...,
        [21603,    10, 21768,  ...,     0,     0,     0],
        [21603,    10,  9982,  ...,     0,     0,     0],
        [21603,    10,    37,  ...,     0,     0,     0]])
attention_mask:
tensor([[1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 1, 1, 1],
        ...,
        [1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0]])
tensor([[    0,     8,   423,   583,    13,  1783,    16, 20126, 16496,    19,
           341,   271, 14841,     3,     5,   186,  7540,    16,   158,    15,
          2296,     7,  5718,  2367, 14621,  4161,    57,  4125,   387,     3,
             5,     3,     9,  8347,  5685,  3048,    16,   286,   640,     8],
        [    0,  1472,  6196,   877,   326,    44,     8,  9108,    86,    29,
            16,  6000,  1887,    30,  1856,     3,     5,  2554,   130,  1380,
            12,  1175,     8,  1595,     3,     5,    80,    13,     8,   192,
         14264,    19,    45, 13692,    63,     6,     8,   119,    45, 20576],
        [    0,     3,   849,  2239,     7,   163, 14014,     3,    60,  8234,
           232,   227,     3, 19585,   643,   845,   150,  8033,    47,   787,
            30,   213,     3,    88,   225,  2447,     3,     5,     3,   849,
          2239,     7,   497,     3,    31,    29,    32,   964,  8033,    47],
        [    0,     8,     3,  3708,    18,  1201,    18,  1490,    19, 11970,
            13,     3, 25345,     8, 10883,  2319,   344,  1332, 16583,    11,
          1797,  9975,     3,     5,     3,    88,   177,   725,    66,     8,
          3991,     6,   379,   192, 12052,    13,    16,   221,    75,  4392],
        [    0,     3,     9,   388,  4281,  1058,    44,     8,  5998, 16026,
            12,  4279,  2448,    11,   717,     3,     5,     3,     9,  1021,
          2095,  5502,    47, 29766,    26,    45,     8,  2833,     3,     5,
             8,  5415,   639, 18905,  7012,    16, 20958,   826,   633,  6032],
        [    0,     3, 26705,  4463,     7,   989,  1891,     3,     9,  5695,
            12,   579,  1840,     3,  3108,  2067,  1824,   400,  1823,    23,
            63,  2551,  1967,    32,     3,     5,     8, 14580,     7,  1891,
           166,  3511,    13,     8,   774,    12,     3,  3108,     3,     9],
        [    0,     3, 31873, 30003, 24187,    32,    18,   188,    40,   624,
           457,     6, 12074,    47,  4792,    11,   430,   388,  7532,    16,
             8,  8420,     3,     5,  2095,   241,    12,  8320, 18050,  8688,
             6, 14141,   113,    65,  2416,    12,     8,  9835,     3,     5],
        [    0,     8,   944,    18,  1201,    18,  1490,    47,  1560,    57,
             3,     9,  2340, 15214,   383,     8, 21689,    18,  1326,  4911,
           397,    51,  1964,     3,     5,     8,  1964,  2804,   190,  8390,
          2515,   663,     3,     5,     8,  2600,    31,     7,     3, 19585],
        [    0,  4740, 10169,   152,   845,     3,    88,    54,   217,     8,
          8619,   689,   227,     3, 30846,     3, 22052,   342,  6476, 27588,
             7,    16,  1882,     3,     5,     8, 13692,  4785,     8,  1412,
           296,  4119,   227,   223,  3730,    24,  2697,   376,    91,    21],
        [    0,     8,  8420,  2817,    81, 10668,    10,  1755, 22866,    44,
             8, 23704,    13,     8,    71, 22367,    11, 24583,  2409,    16,
            90,  9031,    18,   106,    18,   134,    15,     9,     6, 25223,
             3,     5,     8,   388,     6,  9742,    16,   112,   460,     7]])

In [12]:
decoded_summaries = tokenizer.batch_decode(summary_ids, skip_special_tokens=True)
display(pd.DataFrame(decoded_summaries, columns=["decoded_summaries"]))

                                   decoded_summaries
0  the full cost of damage in Newton Stewart is s...
1  fire alarm went off at the Holiday Inn in Hope...
2  stewards only handed reprimand after governing...
3  the 67-year-old is accused of committing the o...
4  a man receiving treatment at the clinic threat...
5  Gregor Townsend gave a debut to powerhouse win...
6  Veronica Vanessa Chango-Alverez, 31, was kille...
7  the 25-year-old was hit by a motorbike during ...
8  gundogan says he can see the finishing line af...
9  the crash happened about 07:20 GMT at the junc...

In [14]:
tokenizer = T5Tokenizer.from_pretrained("t5-small")
model = T5ForConditionalGeneration.from_pretrained(
    "t5-small"
)

You are using the default legacy behaviour of the <class 'transformers.models.t5.tokenization_t5.T5Tokenizer'>. If you see this, DO NOT PANIC! This is expected, and simply means that the `legacy` (previous) behavior will be used so nothing changes for you. If you want to use the new behaviour, set `legacy=True`. This should only be set if you understand what it means, and thouroughly read the reason why this was added as explained in https://github.com/huggingface/transformers/pull/24565

In [15]:
inputs = tokenizer(
    articles, max_length=1024, return_tensors="pt", padding=True, truncation=True
)
summary_ids = model.generate(
    inputs.input_ids,
    attention_mask=inputs.attention_mask,
    num_beams=2,
    min_length=0,
    max_length=40,
)
decoded_summaries = tokenizer.batch_decode(summary_ids, skip_special_tokens=True)

display(pd.DataFrame(decoded_summaries, columns=["decoded_summaries"]))

                                   decoded_summaries
0  the full cost of damage in Newton Stewart is s...
1  fire alarm went off at the Holiday Inn in Hope...
2  stewards only handed reprimand after governing...
3  the 67-year-old is accused of committing the o...
4  a man receiving treatment at the clinic threat...
5  Gregor Townsend gave a debut to powerhouse win...
6  Veronica Vanessa Chango-Alverez, 31, was kille...
7  the 25-year-old was hit by a motorbike during ...
8  gundogan says he can see the finishing line af...
9  the crash happened about 07:20 GMT at the junc...